.shiny-progress-container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240,240,240, 0.2);
    background-repeat:no-repeat;
    background-position: center center;
}

.shiny-progress-container .progress-text{
  width: 400px;
  height: 200px;
  font-size: 195%;
  text-align: center;
  line-height: 200px;
  background-color: rgba(255,255,255, 1);
  border: 3px solid red;
  position:relative;
  margin:auto;
}
